<!DOCTYPE html>
<html>
<header>
  <style>
    .about_us{
      padding-left: 90px;
      padding-right: 90px;
      font-family: "PT Sans";
      margin: 10px 0 0 0;
      text-align: justify;
    }
  </style>
</header>
<body>
<div class="about_us">
  <h1>О Нас</h1>

  <br>
  <!--<button style="background-position:center; position: center", class="with-delay">-->
  <!--<%#= link_to 'Назад', :back, class: "btn btn-mini btn-info", type: "button" %>-->
  <!--</button>-->

  <div class="about_us">
    <p> Мы предлагает высококачественное бельё известных турецких брендов, таких как  Berrak, Pink secret , и др.</p>
    <p> Эти компании известны тем, кто любит простую, стильную и удобную одежду. Фирмы по производству белья находится в Стамбуле.</p>
    <p> Сырьё для изготовления отличается высоким качеством. Для работы отбирается только высококачественный хлопок, который чешется модальными гребенками. Это дает возможность сделать текстиль мягким и нежным на ощупь.
      в качестве красителей используются натуральные компоненты. Все синтетические карсители имеют сертификаты качества и соответствуют стандартам безопасности.
      Дизайн домашней одежды разрабатывается с учетом с учетом нескольких факторов – простота, стиль и следование модным тенденциям.</p>
    <p> Приемлемые цены на весь представленный в каталоге ассортимент - это следствие поставок товаров напрямую с фабрики изготовителей.</p>
    <p> Если Вам нужно красивое бельё высокого качества от проверенных брендов, обращайтесь к нам - и вы получите отличную продукцию в кратчайшие сроки на выгодных для Вас условиях.</p>
    <p>Желаем Вам приятных и удачных покупок.</p>
  </div>
</div>
</body>
</html>