<!DOCTYPE html>
<html>
<header>
  <style>
    .about_us{
      padding-left: 90px;
      padding-right: 90px;
      font-family: "PT Sans";
      margin: 10px 0 0 0;
      text-align: justify;
    }
  </style>
</header>
<body>
<div class="about_us">
  <h1>Наши Контакты</h1>

  <div class="about_us">

    <h3>Где нас можно найти?</h3><br>
    <p>Г. Одесса, промрынок "7 км", ул Престижная, 455.</p>
    <h3 style="text-align: center;">+38(095) 067-48-23</h3><br>
    <h1 style="text-align: center;">Александр</h1>
    <br><br>
  </div>
</div>
<div id="googlemaps" style="width-max:1920px;wid-min:600; height:500px;background:yellow; position: center"></div>

<script src="js/jquery.js" type="text/javascript"></script>
<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBN_BcT9zj8l80ABl1GIrJ8jZM1zESf9hk&callback=initMap">
</script>
</body>
</html>