<!DOCTYPE html>
<html>
<header>
  <style>
    .about_us{
      padding-left: 90px;
      padding-right: 90px;
      font-family: "PT Sans";
      margin: 10px 0 0 0;
      text-align: justify;
    }
  </style>
</header>
<body>
<div class="about_us">

  <h1>Вопросы и ответы</h1>

  <div class="about_us">
    <p>
      На этой странице будут размещаться вопросы и ответы для наших посетителей
    </p>

  </div >
</div>
</body>
</html>