<!DOCTYPE html>
<html>
<header>
  <style>
    .about_us{
      padding-left: 90px;
      padding-right: 90px;
      font-family: "PT Sans";
      margin: 10px 0 0 0;
      text-align: justify;
    }
  </style>
</header>
<body>

<div class="about_us">
  <h1>Как купить нашу продукцию?</h1>

  <div class="about_us">
    <p>Для того, чтобы сделать заказ в нашем интернет-магазине, достаточно связаться с нами по указанным на сайте телефонам.</p>
    <p>Оплата осуществляется наложенным платежом или через начисления денег на карту Приватбанка</p>
  </div>
</div>
</body>
</html>