<html>
<header>
  <style>
    .about_us{
      padding-left: 90px;
      padding-right: 90px;
      font-family: "PT Sans";
      margin: 10px 0 0 0;
      text-align: justify;
    }
  </style>
</header>
<body>

<div class="about_us">
  <h1>Оплата и Доставка</h1>

  <div class="about_us">
    <p>Интернет-магазин "https://ievtushenko.herokuapp.com" осуществляет доставку товарв по всей Украине.</p>
    <p>
      Для того, чтобы сделать заказ в нашем интернет-магазине, достаточно заполнить форму онлайн-заказа или связаться с менеджерами по указанным на сайте телефонам.
    </p>
    <br>

    <h3 style="text-align: center;">Условия доставки по Украине.</h3>
    <br>
    <p>Доставка товаров по Украине осуществляется в течении 1-2 дней, через отделения Новой почты, Укрпочты, Интайм, Деливери, и т д. Узнать точное время и условия доставки в ваш город, вы можете у оператора нашего контакт-центра.</p>
  </div>
</div>
</body>
</html>