<!DOCTYPE html>
<html>
<header>
  <style>
    .about_us{
      padding-left: 90px;
      padding-right: 90px;
      font-family: "PT Sans";
      margin: 10px 0 0 0;
      text-align: justify;
    }
  </style>
</header>
<body>
<div class="about_us">
<%# @for_women.each do |for_woman| %>
  <h1>Женские Майки</h1>



  <br>
  <div class="catalog">
    <div class="women_t_shirts">
      <a href="https://s3.eu-central-1.amazonaws.com/ievtushenko/Women_t_shirts/female_T-shirt1_2011_white_S_M_L_XL_80__2XXL_85grn.png" data-fancybox="gallery" data-fancybox data-caption="
    На Белый Цвет и На Размеры: S-M-L-XL -> Цена - 85грн
    <br>
    На Белый Цвет и На Размер: 2XXL -> Цена - 85грн
    <br>
    code: 2011
			"><img src="https://s3.eu-central-1.amazonaws.com/ievtushenko/Women_t_shirts/female_T-shirt1_2011_white_S_M_L_XL_80__2XXL_85grn.png" alt="photo"/></a>
      <h3>80 грн</h3>
      <h4>code: 2011</h4>
    </div>

    <div class="women_t_shirts">
      <a href="https://s3.eu-central-1.amazonaws.com/ievtushenko/Women_t_shirts/female_T-shirt1_2015_burgundy_S_M_L_XL_90__Red_80__Pink_90grn.png" data-fancybox="gallery" data-fancybox data-caption="
    На Красный Цвет и На Размеры: S-M-L-XL -> Цена - 80грн
    <br>
    На Бордовый и Розовые Цвета и На Размеры: S-M-L-XL -> Цена - 90грн
    <br>
    code: 2015
			"><img src="https://s3.eu-central-1.amazonaws.com/ievtushenko/Women_t_shirts/female_T-shirt1_2015_burgundy_S_M_L_XL_90__Red_80__Pink_90grn.png" alt="photo"/></a>
      <h3>80 грн</h3>
      <h4>code: 2015</h4>
    </div>

    <div class="women_t_shirts">
      <a href="https://s3.eu-central-1.amazonaws.com/ievtushenko/Women_t_shirts/female_T-shirt1_2016_Red_S_M_L_XL_80grn.png" data-fancybox="gallery" data-fancybox data-caption="
    На Красный Цвет и На Размеры: S-M-L-XL -> Цена - 80грн
    <br>
    code: 2016
			"><img src="https://s3.eu-central-1.amazonaws.com/ievtushenko/Women_t_shirts/female_T-shirt1_2016_Red_S_M_L_XL_80grn.png" alt="photo"/></a>
      <h3>80 грн</h3>
      <h4>code: 2016</h4>
    </div>

    <div class="women_t_shirts">
      <a href="https://s3.eu-central-1.amazonaws.com/ievtushenko/Women_t_shirts/female_T-shirt1_2018_White_3XL_100__2XXL_95grn.png" data-fancybox="gallery" data-fancybox data-caption="
    На Белый Цвет и На Размер: 2XXL -> Цена - 95грн
    <br>
    На Белый Цвет и На Размер: 3XL -> Цена - 100грн
    <br>
    code: 2018
			"><img src="https://s3.eu-central-1.amazonaws.com/ievtushenko/Women_t_shirts/female_T-shirt1_2018_White_3XL_100__2XXL_95grn.png" alt="photo"/></a>
      <h3>95 грн</h3>
      <h4>code: 2018</h4>
    </div>

    <div class="women_t_shirts">
      <a href="https://s3.eu-central-1.amazonaws.com/ievtushenko/Women_t_shirts/female_T-shirt1_2037_White_3XL_90__2XXL_85grn.png" data-fancybox="gallery" data-fancybox data-caption="
     На Белый Цвет и На Размер: 2XXL -> Цена - 85грн
    <br>
     На Белый Цвет и На Размер: 3XL -> Цена - 90грн
    <br>
    code: 2037
    "><img src="https://s3.eu-central-1.amazonaws.com/ievtushenko/Women_t_shirts/female_T-shirt1_2037_White_3XL_90__2XXL_85grn.png" alt="photo"/></a>
      <h3>85 грн</h3>
      <h4>code: 3037</h4>
    </div>

    <div class="women_t_shirts">
      <a href="https://s3.eu-central-1.amazonaws.com/ievtushenko/Women_t_shirts/female_T-shirt1_2118_Black_Beige_S_M_L_XL_85grn.png" data-fancybox="gallery" data-fancybox data-caption="
    На Черный и Бежевые Цвета и На Размеры: S-M-L-XL -> Цена - 85грн
    <br>
    code: 2118
    "><img src="https://s3.eu-central-1.amazonaws.com/ievtushenko/Women_t_shirts/female_T-shirt1_2118_Black_Beige_S_M_L_XL_85grn.png" alt="photo"/></a>
      <h3>85 грн</h3>
      <h4>code: 2118</h4>
    </div>

    <div class="women_t_shirts">
      <a href="https://s3.eu-central-1.amazonaws.com/ievtushenko/Women_t_shirts/female_T-shirt1_2127_White_S_M_L_XL_95grn.png" data-fancybox="gallery" data-fancybox data-caption="
    На Белый Цвет и На Размеры: S-M-L-XL -> Цена - 95грн
    <br>
    code: 2127
    "><img src="https://s3.eu-central-1.amazonaws.com/ievtushenko/Women_t_shirts/female_T-shirt1_2127_White_S_M_L_XL_95grn.png  " alt="photo"/></a>
      <h3>95 грн</h3>
      <h4>code: 2127</h4>
    </div>

    <!--35  -->
    <div class="women_t_shirts">
      <a href="https://s3.eu-central-1.amazonaws.com/ievtushenko/Women_t_shirts/female_T-shirt_2128_white_black_2128_S_M_L_XL_65grn.png " data-fancybox="gallery" data-fancybox data-caption="
    На Белый и Черный Цвет, а также на Размеры: S-M-L-XL -> Цена - 65грн
    <br>
    code: 2128
			"><img src="https://s3.eu-central-1.amazonaws.com/ievtushenko/Women_t_shirts/female_T-shirt_2128_white_black_2128_S_M_L_XL_65grn.png" alt="photo"/></a>
      <h3>65 грн</h3>
      <h4>code: 2128</h4>
    </div>

    <!--36  -->
    <div class="women_t_shirts">
      <a href="https://s3.eu-central-1.amazonaws.com/ievtushenko/Women_t_shirts/female_T-shirt_grey_2131_S_M_L_XL_73grn.png" data-fancybox="gallery" data-fancybox data-caption="
    На Серый Цвет и на Размеры: S-M-L-XL -> Цена - 73грн
    <br>
    code: 2131
			"><img src="https://s3.eu-central-1.amazonaws.com/ievtushenko/Women_t_shirts/female_T-shirt_grey_2131_S_M_L_XL_73grn.png" alt="photo"/></a>
      <h3>73 грн</h3>
      <h4>code: 2131</h4>
    </div>

    <!--37  -->
    <div class="women_t_shirts">
      <a href="https://s3.eu-central-1.amazonaws.com/ievtushenko/Women_t_shirts/female_T-shirt_grey_8049_S_M_L_XL_64grn.png" data-fancybox="gallery" data-fancybox data-caption="
    На Серый Цвет и на Размеры: S-M-L-XL -> Цена - 64грн
    <br>
    code: 8049
			"><img src="https://s3.eu-central-1.amazonaws.com/ievtushenko/Women_t_shirts/female_T-shirt_grey_8049_S_M_L_XL_64grn.png" alt="photo"/></a>
      <h3>64 грн</h3>
      <h4>code: 8049</h4>
    </div>

  </div>
</div>
</body>
</html>